/** RESET **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none outside none;
    text-decoration:none;
}

html {width:100%;height: auto;background-color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
table {border-collapse: collapse;border-spacing: 0;}
a, img {border: 0 none;outline: 0 none;}
input {outline: 0 none;border: 0 none;background: 0 none;}
*{
    font-family: "Roboto",;
    font-weight: normal;
    box-sizing: border-box;
}
/* --- GENERAL --- */

body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.header {
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1400px;
}
nav {
    width: 100%;
    max-width: 470px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Mund të ndryshoni këtë vlerë sipas preferencave tuaja */
}

nav ul li a {
    text-decoration: none;
    color: black; /* Ngjyra e linkut pa hover */
    transition: all 0.9s ease-in;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo {
    max-width: 170px;
    height: auto;
    width: 100%;
    margin-left: 100px;
}
.icons{
    margin-left: 200px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    margin-right: 20px;
}
.lastchild{
    margin-right: 20px;
}
.homeholder{
    width: 100%;
    
}
.home {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 60px;
}
.details {
    margin-top: 100px;
    transition: all 0.9s ease;
    margin-left: 70px;
    
    
    
}
.details h2 {
    max-width:1000px;
    color: #383838;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 37px;
}
.details p {
    max-width: 950px;
    color: #383838;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 100%;
}
.explore {
    border: solid 1px;
    max-width: 200px;
    padding: 15px;
    border-radius: 4px;
   
    
}
.explore h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.chair {
    max-width: 50%;
    height: auto;
    margin: 100px 50px 50px 50px;
}
.chair img {
    width: 100%;
    height: auto;
    
}
.secondsection {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: #fff;
    margin-bottom: 100px;
}
.white {
    display: flex;
    max-width: 1300px;
    gap: 30px;
    margin-right: 50px;
    margin-left: 70px;
    max-height: 470px;
    height: 100%;
}
.white img {
    max-width: 800px;
    width: 100%;
    height: auto;
}
.wood {
    width: 100%;
}
.wood img {
    width: 100%;
    max-height: 470px;
    height: 100%;
}



 span {
    color: rgb(43, 8, 0);
    font-weight: 700;
    margin-right: 10px;
 }
.secondsection svg {
    width: 100%;
    height: auto;
    max-width: 100px;
   }
   .thirdsection {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.thirdsection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 100px;
}

.form-holder{
    width: 100%; 
}

#form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}
#form .input{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: grey;
    height:100%;
    padding: 17px;
    border-radius: 4px 0 0 4px;
    background-color:white;
    color: black;
    border: solid 1px;
}
#form .button{
    width: auto;
    background-color: rgb(11, 52, 11);
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 4px;
    padding: 17px 30px;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
}
#form .input::placeholder {
    color:black; /* Set the placeholder color to red */
  }
.fourthsection{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(4, 26, 4);
}
.fourthsection h2 {
    color: white;
}
.fourthsection p {
    color: white;
    max-width: 300px;
    height: auto;
}
.about {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.reserved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}
.socialmedia {
    max-width: 300px;
    height:auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    justify-content: space-between;

}
.rights{
    color: #3838387b;
}
.provide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.provide h2 {
    font-weight: 700;
    margin-bottom: 20px;
}
.provide p {
    opacity: 0.7;
    max-width: 800px;
    margin-bottom: 1px;
}
.shipping {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
.free {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.free h4 {
    font-weight: 600;
    margin-left: 15%;
}
.free p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.free svg {
    margin-left: 25%;
    margin-bottom: 5px;
}
.product {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.product h4 {
    font-weight: 600;
    margin-left: 15%;
    font-size: 18px;
}
.product p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.product svg {
    margin-left: 25%;
    margin-bottom: 5px;
}
.costum {
    background-color: rgba(184, 153, 116, 0.3);
    padding: 50px;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}
.costum h4 {
    font-weight: 600;
    margin-left: 15%;
    font-size: 18px;
}
.costum p {
    max-width: 200px;
    margin-left: 10%;
    font-weight: normal;
}
.costum svg {
    margin-left: 25%;
    margin-bottom: 5px;
}