/** RESET **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none outside none;
    text-decoration:none;
}

html {width:100%;height: auto;background-color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
table {border-collapse: collapse;border-spacing: 0;}
a, img {border: 0 none;outline: 0 none;}
input {outline: 0 none;border: 0 none;background: 0 none;}
*{
    font-family: "Roboto",;
    font-weight: normal;
    box-sizing: border-box;
}
/* --- GENERAL --- */

body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    max-width: 1400px;
}
.header {
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
}
nav {
    width: 100%;
    max-width: 470px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Mund të ndryshoni këtë vlerë sipas preferencave tuaja */
}

nav ul li a {
    text-decoration: none;
    color: black; /* Ngjyra e linkut pa hover */
    transition: all 0.9s ease-in;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo {
    max-width: 170px;
    height: auto;
    width: 100%;
    margin-left: 100px;
}
.icons{
    margin-left: 200px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    margin-right: 20px;
}
.lastchild{
    margin-right: 0px;
}
.home {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #F7F5F6;;
}
.details {
    margin-top: 150px;
    margin-left: 102px;
    margin-right: 200px;
    transition: all 0.9s ease;
    
}
.details h2 {
    max-width: 500px;
    color: #383838;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 37px;
}
.details p {
    max-width: 650px;
    color: #383838;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    opacity: 0.7;
    margin-bottom: 60px;
}
.explore {
    background-color: black;
    max-width: 200px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 170px;
    
}
.explore h3 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.chair {
    max-width: 50%;
    height: auto;
}
.chair img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}
.black {
    margin-right: 1px;
    max-height: none;
    height: auto;
}
.thirdsection {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}