/** RESET **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none outside none;
    text-decoration:none;
}

html {width:100%;height: auto;background-color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
table {border-collapse: collapse;border-spacing: 0;}
a, img {border: 0 none;outline: 0 none;}
input {outline: 0 none;border: 0 none;background: 0 none;}
*{
    font-family: "Roboto",;
    font-weight: normal;
    box-sizing: border-box;
}
/* --- GENERAL --- */

body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.header {
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    padding-top: 20px;
    max-width: 1400px;
}
nav {
    width: 100%;
    max-width: 470px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: black; 
    transition: all 0.9s ease-in;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo {
    max-width: 170px;
    height: auto;
    width: 100%;
    margin-left: 100px;
}
.icons{
    margin-left: 200px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    margin-right: 20px;
}
.lastchild{
    margin-right: 20px;
}
.home {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
}

.details {
    margin-top: 90px;
    margin-left: 122px;
    max-width: 500px;
    transition: all 0.9s ease;
 
    
    
}
.details h2 {
    max-width: 500px;
    color: #383838;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 37px;
}
.details h3 {
    margin-bottom: 10px;
}
input {
    border: solid 1px;
    padding-right: 100px;
    border-radius: 2px;
    padding:10px 200px 10px 10px;
    margin-bottom: 30px;
    font-size: 16px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h5{
    font-size: 16px;
    opacity: 0.6;

}
#loginLink {
    color: rgba(255, 136, 0, 0.573); 
}

#loginLink:hover {
    color: red; 
}
.other {
    display: flex;
}
.other hr {
    width: 350px;
    margin-left: 20px;
}
.chair {
    max-width: 50%;
    height: auto;
    
}
.chair img {
    width: 100%;
    height: auto;
    max-width: 1000px;
}
