/** RESET **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none outside none;
    text-decoration:none;
}

html {width:100%;height: auto;background-color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
table {border-collapse: collapse;border-spacing: 0;}
a, img {border: 0 none;outline: 0 none;}
input {outline: 0 none;border: 0 none;background: 0 none;}
*{
    font-family: "Roboto",;
    font-weight: normal;
    box-sizing: border-box;
}
/* --- GENERAL --- */

body{
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

header {
    margin: 0 auto;
    background-image: url(/assets/images/homepage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
    z-index: 1; /* Ensure header is above background */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),;
    flex-wrap: wrap;
}
header::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: -1;
}
.header {
    width: 100%;
    display:flex;
    margin-top: 44px;
    justify-content: space-between;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 20px;
}
.logo {
    width: 100%; /* Adjust width as needed */
    height: auto;
    margin-bottom: 30px;
    max-width: 300px;  
    margin-right: 50px;
    
}
nav {
    display: flex;
    width: 100%;
    max-width: 470px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.icons {
    max-width: 161px;
    height: auto;
    flex-shrink: 0;
    margin-right: 96px;
    margin-bottom: 50px;
}
.icons svg {
    max-width: 300px;
}
.icons svg:hover {
    transform: scale(1.1); /* Hover effect to slightly enlarge the icon */
}
svg{
     margin-right: 20px;
}
h1{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
}
.Marketplace {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.Marketplace h2 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 491px;
}
.artisan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}
.artisan h2 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 491px;
}
.old {
    margin-bottom: 280px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.old h3 {
    max-width: 200px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.old h4 {
    max-width: 200px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 452px;
}
.discover {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.discover svg {
   position: absolute;
   top: 430px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
.discover p {
    position: relative;
    color: #FFF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 270px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    width: 100%;
}
.mate {
    width: 100%;
    max-width: 400px;
    margin-left: -20px;
}
.mate img {
    width: 100%;
    height: auto;
}
.iron {
    margin-left: 100px;
    margin-top: 50px;
    width: 100%;
    height: auto;
}
.iron h2 {
    font-weight: 700;
}
.iron h3{ 
    font-weight: normal;
    font-size: 20px;
}
.iron p {
    opacity: 0.7;
    max-width: 320px;
    margin-bottom: 20px;
}
.iron h5 {
    font-weight: 700;
    margin-bottom: 20px;
}
.material {
    display: flex;
    background-color: rgb(22, 21, 21);
    padding: 40px 40px 40px 50px;
    gap: 50px;
    width: 100%;
    height: auto;
    position: absolute;
    max-width: 800px;
    left: 22%;
    margin-top: 60px;
}
.container {
    position: relative;
}
.material h4 {
    font-weight: 700;
    color: gray;
}
.material p {
    font-weight: 700;
    margin-top: 20px;
    color: white;
}
.all {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    gap: 30px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 200px;
}
.wood {
    max-width: 400px;
    height: auto;
    margin-left: 30px;
}
.wood img {
    max-width: 340px;
    height: auto;
}
.market {
    width: 100%;
    height: auto;
    margin-left: 30px;
}
.wooden {
    max-width: 400px;
    height: auto;
    margin-left: 30px;
}
.wooden img {
    max-width: 340px;
    height: auto;
}
.comfort {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
}
.comfort img {
    width: 100%;
}
.matters {
    margin-right: 300px;
    max-width: 50%;
    width: 100%;
}
.matters h3,h4{
    color: #1E1E1E;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 23px;
}
.matters p {
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 51px;
    line-height: 25px;
    
}
.matters h4 {
    text-decoration: underline;
}
.first {
    position: relative;
    display: flex;
    z-index: 999;
    margin-right: 150px;
}
.last {
    background-color: #AC9C7F;
    max-width: 870px;
    height: 425px;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    left: 70%;
    bottom:-15%;
    z-index: -1;
}
.last h2,h5{
    margin-left: 90px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-right: 30px;
}
.last h2{
    margin-bottom: 100px;
    margin-top:70px;
}
.last h5{
    color:white;
}
.collection{
    width: 100%;
    background-color:#AC9C7F;
    margin-bottom: 126px;
}
.new {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}
.clock{
    margin-top: 106px;
    margin-bottom: 106px;
    margin-right: 90px;
    margin-left: 98px;
    margin: 106px 90px 106px 100px;
}
.clock h2{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.clock p{
    max-width: 400px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 26px;
}
.flower {
    margin-top: 177px;
    margin-bottom: 0;
    margin-left: 200px;
}
.flower img {
    width: 100%;
    height: auto;
}
.stay {
    max-width: 1400px;
    margin-bottom: 130px;
}
.stay h2{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stay h2{
    margin-bottom: 18px;
}
.stay p {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-container {
    position: relative;
    width: 100%; 
    height: auto; 
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 0.46;
    background-color:#AC9C7F;
}

.icon {
    font-size: 2em;
    color: white;
    margin-left: 30px;
}
.footer {
    max-width: 1400px;
    background-color: white;
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top: 50px;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.footer-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    opacity: 0.6;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 0 60px; 
}

.contact-item img {
    margin-right: 10px;
    width: 20px; 
    height: 20px;
}

.footer-main {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F7F5F6;
    padding: 20px 1px 20px 1px;
    flex-wrap: nowrap;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    margin-left: 98px;
    opacity: 0.6;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.footer-newsletter {
    text-align: center;
    flex: 2;
    margin: 0 20px;
}

.footer-newsletter p {
    color: #1E1E1E;

    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn.btn-outline-secondary {
    margin-bottom: 20px;
    border-radius: 0%; color: black; padding: 15px 80px 15px 80px; margin-bottom: 50px;
    padding: 15 80px 15px 80px;
}
.footer-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.footer-newsletter input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; 
    text-align: center;

    max-width: 300px; 
}

.footer-newsletter button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
}

.footer-column.right {
    margin-left: 60px; 
}

.social-links a {
    text-decoration: none;
    color: #000;
}

.social-links a:hover {
    text-decoration: underline;
}
#menu-icon{
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.853);
    display: none;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  #menu-icon.bx-menu {
    transform: rotate(0deg); /* Ikona hamburger fillon nga pozicioni normal */
}

#menu-icon.bx-x {
    transform: rotate(90deg); /* Rrotullim për ikonën X */
}
.nav-links.show {
    display: flex;
    opacity: 1; /* Bëhet e dukshme */
    transform: translateX(0); /* Vjen brenda ekranit */
}

.icons svg {
    fill: white;
}

.bx-menu {
    display: block;
    font-size: 24px;
    cursor: pointer;
}
/* Stilet për ikonën e menu-së */
#menu-icon {
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.853);
    display: block;
    cursor: pointer;
}

#menu-close-icon {
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.853);
    display: none;
    cursor: pointer;
}

/* Kur hapet menuja, tregohet flex */
.nav-links {
    display: none; /* E fshehur në fillim */
    flex-direction: column;
    opacity: 0; /* Fillimisht është e padukshme */
    transform: translateX(-100%); /* Fillon jashtë ekranit */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav-links.show {
    display: flex;
    position: absolute;
    top: 60px; /* Pozicionoje sipër, poshtë header-it */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Një sfond për ta dalluar menunë */
    z-index: 1000; /* Për ta vendosur sipër përmbajtjes */
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin-left: 450px;
}

.nav-links li {
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


/* Default styles for small screens */
.nav-links {
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.nav-links.show {
    display: flex;
    opacity: 1;
}
@media (max-width: 900px) {
    .discover{
        display: none;
    }
}
/* Media queries for larger screens */
@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        opacity: 1;
        position: static;
        background-color: transparent; /* Hiq sfondin për ekranet e mëdha */
    }

    #menu-icon {
        display: none; /* Fshi ikonën hamburger në ekranet e mëdha */
    }
}

/* --- Responsive ---*/
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
    }
    #menu-icon {
        display: block;
        order: 3;
        margin-right: 20px;
    }

    .logo h1 {
        margin-left: 0;
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
    }

    nav ul li {
        margin: 5px 0;
      
    }
    .nav-links {
        background-color: rgba(55, 55, 121, 0.086);
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        padding-left: 45%;
        gap: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.555)
    }
    .nav-links {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: auto;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: none;
        order: 1;
    }
    .nav-links.show {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
    }
    .icons{
        order: 2;
        display: none;
    }
    .old h3{
        margin-top: 40px;
        text-align: center;
    }
    .old h4 {
        display: none;
    }

    .marketplace h2, .artisan h2 {
        font-size: 32px;
    }

    .description h3, .description h4 {
        font-size: 18px;
    }
    .discover {
        display: none;
     }
    .discover p {
        font-size: 16px;
    }
    .nav-links ul {
        list-style: none;
        display: flex;
        margin-left: 1px;
    }
    .logo{
        align-self: center;
        margin-left: 30px;
    }
    .material {
        display: none;
    }
    .all{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }
    .wooden,.market,.wood{
        margin-left: 1px;
    }
    .wooden img {
        width: 100%;
    }
    .wooden {
        margin-bottom: 60px;
    }
    .matters{
        margin-right: 50px;
        margin-left: 30px;
    }
    .matters h3 {
        font-size: 20px;
        font-weight: 550;
    }
    .matters h4 {
        font-size: 22px;
    }
    .matters p{
        font-size: 12px;
        line-height: 25px;
    }
    .first {
        margin-right: 10px;
    }

    .last {
        max-height: 300px;
        height: 100%;
        left: 55%;
        top: 20%;
        overflow-y: hidden;
    }
    .last h2 {
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .last h5 {
        font-size: 16px;
        padding-right: 10px;
    }
    .new {
        display: flex;
        flex-direction: column;
    }
    .comfort{
        margin-bottom: 60px;
    }
    .clock{
        margin-bottom: 26px;
        margin-top: 50px;
    }
    .last{
        display: none;
    }
    .flower img {
        width: 50%;
   }
   .collection{
    margin-bottom: 60px;
   }
   .stay{
    margin-bottom: 60px;
   }
   .gallery{
        flex-wrap: wrap;
        margin: 0 auto;
   }
   .image-container{
        max-width: 150px;
        width: 100%;
   }
   .image-container img {
    width: 100%;
   }
}

@media (max-width: 600px) {
    .logo{
        align-self: center;
        margin-left: 30px;
    }
   
    .logo h1 {
        font-size: 14px;
    }
    .Marketplace h2 {
        font-size: 32px;
    }

    nav ul li a {
        font-size: 14px;
    }
    .marketplace h2, .artisan h2 {
        font-size: 24px;
    }

    .description h3, .description h4 {
        font-size: 16px;
    }
    .discover {
       display: none;
    }

    .discover p {
        font-size: 14px;
    }
    .old {
        flex-direction: column;
    }
    .old h3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .old h4{
        margin-left: 0px;
    }
    .logo{
        margin-right: 1px;
        margin-left: 30px;
        max-width: 200px;
        width: 100%;
        font-size: 16px;
    }
    .iron{
        margin-left: 20px;
        margin-top: 20px;
    }
    .iron h2 {
        font-size: 18px;
    }
    .iron h3 {
        font-size: 16px;
    }
    .iron p {
        font-size: 12px;
    }
    .iron h5 {
        font-size: 16px;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .wood img {
        width: 100%;
        max-width: 300px;
    }
    .market img {
        width: 100%;
        max-width: 300px;
    }
    .wooden img {
        width: 100%;
        max-width: 300px;
    }
    .matters{
        margin-right: 3px;
        margin-left: 30px;
    }
    .matters h3 {
        width: 100%;
        font-size: 16px;
        font-weight: 550;
    }
    .matters p{
        font-size: 10px;
        line-height: 15px;
    }
    .first {
        margin-right: 10px;
    }
    .comfort img {
        max-height: 300px;
        /*padding: 30px 15px;*/

    }

}
@media  (max-width: 600px) {

    .btn.btn-outline-secondary {
        margin-bottom: 1px;
        border-radius: 0%; color: black; 
        padding: 15px 30px;
        font-size: 14px;
    }
        .material {
            width: 100%;
            max-width: 350px;
            padding: 15px 25px;
            margin-top: 50px;
            gap: 20px;
            height: 100px;    
            display: flex;    

        }
        .material h4 {
            font-size: 10px;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
        }
        .material p {
            font-size: 8px;
        }
        .container {
            margin-bottom: 60px;
        }
        .last {
            overflow-x: hidden;
            max-height: 200px;
            height: 100%;
            left: 52%;
            top: 30%;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-overflow: hidden;
            
        }
        .last h2 {
            margin-top: 30px;
            font-size: 16px;
            margin-bottom: 30px;
            padding-right: 20px;
    
        }
        .last h5 {
            font-size: 12px;
            padding-right: 20px;
        }
        .comfort {
            /*
            overflow-x:hidden;
            overflow-y: hidden;
            */
        }
        .last{
            padding-right: 10px;
        }
        .clock {
            margin-left: 50px;
        }
        .flower{
            margin-top: 77px;
            margin-left: 0%;
            margin: 0 auto;
           
        }
        .flower img {
            width: 100%;
        }
        .footer-main {
            max-width: 1400px;
            width: 100%;
            flex-wrap: wrap;
        }
        .footer-column{
            order: 1;
            margin-left: 100px;
            max-width: 350px;
            width: 100%;
        }
        .footer-newsletter{
            order: 3;
            width: 100%;
            flex-wrap: nowrap;
            display: block;
            margin: 30px 50px 50px 50px;
            
        }
        .footer-column.right{
            order: 2;
            margin-left: 100px;
            max-width: 350px;
            margin-right: 100px;
            width: 100%;
        }
        .footer-column h4{
            font-size: 18px;
        }
        .footer-column ul li{
            font-size: 12px;
        }
}

@media  (max-width: 500px) {
    .material {
        width: 100%;
        max-width: 350px;
        padding: 15px 25px;
        margin-top: 20px;
        gap: 20px;
        height: 80px;   
        left: 50px;
        display: flex;    
    }
    .material h4 {
        font-size: 10px;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
    }
    .market {
        display: none;
    }
    .wood img {
        width: 100%;
        max-width: 200px;
    }
    .market img {
        width: 100%;
        max-width: 200px;
    }
    .wooden img {
        width: 100%;
        max-width: 200px;
    }
    .last {
        left: 52%;
    }
    .first {
        margin-right: 1px;
    }
    .footer{
        margin-top: 1px;
    }
    .footer-content {
        max-width: 1400px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .footer-contact{
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 10px;
        text-align: left;
        max-width: 200px;
        width: 100%;
        text-align: center;
    }
    .contact-item{
        margin: 0px 0px;
    }
    .footer-main {
        max-width: 1400px;
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-column{
        order: 1;
        margin-left: 50px;
        width: 100%;
    }
    .footer-newsletter{
        order: 3;
        max-width: 300px;
        width: 100%;
        flex-wrap: nowrap;
        display: block;
    }
    .footer-column.right{
        order: 2;
        margin-left: 50px;
        margin-right: 50px;
        width: 100%;
    }
    .footer-column h4{
        font-size: 18px;
    }
    .footer-column ul li{
        font-size: 12px;
    }
}



@media  (max-width: 400px ){
    .logo {
        margin-left: 30px;

    }
    .iron h5 {
        margin-bottom: 1px;
    }
    .btn.btn-outline-secondary {
        margin-bottom: 1px;
        border-radius: 0%; color: black; 
        padding: 10px 20px;
        font-size: 14px;
    }
    .material {
        width: 100%;
        max-width: 300px;
        padding: 10px 10px;
        margin-top: 10px;
        gap: 20px;
        left: 40px;
        height: 70px;
    }
    .material h4 {
        font-size: 10px;
        position: relative;
    }
    .material p {
        font-size: 8px;
    }
    .iron h2 {
        font-size: 14px;
    }
    .iron h3 {
        font-size: 12px;
    }
    .iron p {
        font-size: 8px;
    }
    .iron h5 {
        font-size: 12px;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .last h2 {
        margin-left: 80px;
    }
    .last h5 {
        margin-left: 80px;
    }
    
}
@media  (max-width: 350px) {

    .comfort img {
        padding: 1px;
        width: 100%;
        margin-right: 1px;
    }
    .footer-column{
        margin-left: 30px;
        margin-right: 0px;
    }
    .footer-column.right{
        margin-right: 0px;
        margin-left: 30px;
    }

}
@media  (max-width: 320px) {
    .material {
        display: none;
    }
}